---
import SideCard from '../../layouts/SideCard.astro';
import TechNewsletterForm from '../newsletters/TechNewsletterForm.astro';

interface Props {
  topic: string;
}

const { topic } = Astro.props;
---

<SideCard title="Stay up to date" icon="letter">
  <p class="mt-2 text-sm text-zinc-600">
    Get notified when I publish something new about <span class="font-semibold">{topic}</span>. You can unsubscribe at any time.
  </p>
  <div class="mt-6">
    <TechNewsletterForm buttonText="Join" />
  </div>
</SideCard>