---
import LinkCard from "../components/cards/LinkCard.astro";
import NewsLetterCard from "../components/cards/NewsLetterCard.astro";
import TopicPage from "../layouts/TopicPage.astro";
import TopicPageFirstColumn from "../layouts/TopicPageFirstColumn.astro";
import TopicPageSecondColumn from "../layouts/TopicPageSecondColumn.astro";
import TopicSection from "../layouts/TopicSection.astro";
import { formatAndSortArticles } from "../utils/format-and-sort-articles";

const articles = formatAndSortArticles(import.meta.glob('./documentaries/articles/*.md', { eager: true }));
---

<TopicPage
  title="Documentaries"
  description="Documentaries that I made on various subjects that I find interesting."
>
  <TopicPageFirstColumn>
    <TopicSection title="Articles">
      {articles.map(article => (
        <LinkCard 
          title={article.title}
          description={article.description}
          url={article.url}
          date={article.pubDate}
          linkText="Read article"
        />
      ))}
      <p class="text-sm text-zinc-600">No article yet.</p>
    </TopicSection>
  </TopicPageFirstColumn>
  <TopicPageSecondColumn>
    <!-- <NewsLetterCard topic="various subjects" /> -->
  </TopicPageSecondColumn>
</TopicPage>