---
import Container from "../layouts/Container.astro";
---

<Container>
  <footer class="pt-10 pb-12 sm:pb-16">
    <p class="text-sm text-zinc-400 text-right">© {new Date().getFullYear()} Loïc Poullain. All rights reserved.</p>
  </footer>
</Container>

