---
import Container from "../layouts/Container.astro";
import SocialLink from "../layouts/SocialLink.astro";
import TwitterLogo from "./logos/TwitterLogo.astro";
import GitHubLogo from "./logos/GitHubLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
import BlueskyLogo from "./logos/BlueskyLogo.astro";

interface Props {
  title: string;
  description: string;
  isTopicPage?: boolean;
}

const { title, description, isTopicPage } = Astro.props;
---

<Container>
  <section class="pt-6 pb-20 md:pt-10 max-w-3xl">
    <h1 class={"font-bold font-serif leading-14 tracking-wide text-zinc-800 text-4xl " + (isTopicPage ? "" : "sm:text-5xl")}>{title}</h1>
    <p class="mt-6 text-base text-zinc-600">{description}</p>
    {!isTopicPage && <div class="mt-6 flex gap-4">
      <SocialLink
        href='https://twitter.com/Loic_Poullain'
        name='Follow on Twitter'
      >
        <TwitterLogo />
      </SocialLink>
      <SocialLink
        href="https://github.com/LoicPoullain"
        name="Follow on GitHub"
      >
        <GitHubLogo />
      </SocialLink>
      <SocialLink
        href="https://www.linkedin.com/in/loicpoullain/"
        name="Follow on LinkedIn"
      >
        <LinkedInLogo />
      </SocialLink>
      <SocialLink
        href="https://bsky.app/profile/loicpoullain.com"
        name="Follow on Bluesky"
      >
        <BlueskyLogo />
      </SocialLink>
    </div>}
  </section>
</Container>