---
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<a
  href={href}
  aria-label={name}
  class="text-zinc-500 transition hover:text-yellow-600 h-6 w-6"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>